@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
  background-color: rgb(35, 35, 35);
  font-family: Gamja Flower;
  color: white;
}

header {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
}

a {
  color: rgb(144, 228, 230);
  text-decoration: none; 
}

a:hover {
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  align-items: center;
  font-size: 30px;
  margin: 5px;
}

h3 {
  align-items: center;
  font-size: 22px;
  margin: 2px;
}

p {
  font-size: 20px;
}

.meme-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

button {
  font-size: 18px;
  align-self: center;
  background-color: rgb(144, 228, 230);
  color: black;
  width: 200px;
  height: 40px;
  border-radius: 3px;
}

button:hover {
  text-transform: uppercase;
  cursor: pointer;
}

img {
  object-fit: contain;
  height: 250px;
}

form {
  margin: 10px;
}

input {
  width: 200px;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  h1 {
    align-items: center;
    font-size: 50px;
  }

  h3 {
    align-items: center;
    font-size: 28px;
  }

  p {
    font-size: 25px;
  }

  .menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  h1 {
    align-items: center;
    font-size: 65px;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}